<!-- <h3>{{pelicula[0].title}}</h3> -->
<div *ngFor="let item of pelicula">
  <div *ngIf="item?.offers?.length > 0">
    <h4><img src={{item.bandera}}> {{item.pais}}</h4>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-1" *ngFor="let item of item.offers">
          <a href={{item.urls.standard_web}}><img src={{item.linkPro}} alt="" srcset=""></a><br>
          <span class="badge badge-primary" *ngIf="item.monetization_type=='flatrate'">Fijo</span>
          <span class="badge badge badge-success" *ngIf="item.monetization_type=='ads'">Ads</span>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>